<<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <title>Usui's blog</title>
        <meta name="description" content="">
    </head>
    <body>
        <div>
            <h1><a href="/">Usui's Blog</a></h1>
        </div>

        <div>
            <p>published: 08.05.2024, 10:49</p>
            <h2><a href="/">My first post</a></h2>
            <p>こんにちは、よろしくお願いいたします。</p>
        </div>

        <div>
            <p>公開日： 2024/05/08, 10:49</p>
            <h2><a href="">2番目の投稿</a></h2>
            <p>こんにちは、よろしくお願いいたします。</p>
        </div>
    </body>
</html>